{
    "rules": {
        "no-console": 0
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "phantomjs": true
    },
    "extends": "eslint:recommended"
}
